.menu-horizontal {
    list-style: none;
    /* justify-content: space-around; */
}

.menu-horizontal {
    display: block;
    /* padding: 15px 20px; */
    /* color: white; */
    text-decoration: none;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 140px;
    background-color: rgba(0, 0, 0, .5);
    margin: 0.5rem 0rem 0rem 9.8rem;
    top: 12.5rem;
}

.menu-horizontal:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px 15px 20px;
}